?
.obj
/.env
/orig/splat
/orig/splat.lrp
/orig/*.o
/orig/*.cache
/orig/*.sdf
/orig/*.qth
/orig/*.lcf
/orig/*.ppm
/orig/tst-old
/orig/tst-new
/doc/*.pdf
/doc/*.ppt
/doc/*.xls
/doc/*.tex
/doc/html
/demo/Makefile
/demo/*/Makefile
/cscope.files
/cscope.out
main
gmon.out
/data/*.tif
/data/*.zip
/data/*.hgt
/data/*.csv
